<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgj_Bt4SzoonrglFzyBSToSwDftsWXSnE</string>
	<key>GCM_SENDER_ID</key>
	<string>791077010396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vibeandseek</string>
	<key>PROJECT_ID</key>
	<string>vibeandseek-ac0bc</string>
	<key>STORAGE_BUCKET</key>
	<string>vibeandseek-ac0bc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791077010396:ios:559cbf2aad2d9d3f952d19</string>
</dict>
</plist>